nav {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  margin: 0 10px;
  border-radius: 100px;
  box-shadow: 0px 2px 5px rgba(112, 112, 112, 0.555);
}

nav * {
  outline: 1px dashed green;
}

nav h1 {
  padding: 0;
  margin: 0;
}

nav h1 a {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

nav form {
  flex: 1;
}

nav form input {
  height: 32px;
  width: 100%;
  border: none;
  background-color: whitesmoke;
  border-radius: 100px;
  padding: 18px 20px;
}

nav form input:focus {
  outline: none;
}

nav form input:focus,
nav form input:hover {
  box-shadow: inset 0px 1px 2px rgba(112, 112, 112, 0.555);
}

nav form input::placeholder {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 500;
}

nav svg {
  font-weight: bolder;
  font-size: 24px;
  cursor: pointer;
}
